/* giving the body a dark background to better see the bright colored boxes */
body {
    background: gray;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 0px 0px;
  }
  

  
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  /* every box is this size */
  .box {
    width: 1200px;
    height: 1200px;
  }
  
  
  .box-1 {
    width: 600px;
    height: 600px;
    background: white;
    align-items: center;
    align-self: center;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50;
  }
  .box-2 {
    width: 400px;
    height: 400px;
    background: white;
    align-items: center;
    align-self: center;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50;
  }

  /* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
  @media (max-width: 600px) {
    /* .box-1 {
      background: purple;
    } */
  
    /* .box-2 {
    background: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px black;
    } */
  
    /* .box-3 {
      display: none;
    } */
  
    /* .box-4 {
      transform: rotate(360deg);
      transition: transform 0.5s ease-in;
    } */
  
    /* .box-5 {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      b
  